@media (max-width: 960px) {
  /* header */
  header {
    padding: 34px 40px;
  }
  header form {
    display: none;
  }
  .searchButtonResp {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
  }
  .searchButtonResp img {
    width: 32px;
    height: 32px;
  }
  /* section  */
  section {
    padding: 64px calc(180 / 1200 * 100%);
  }
  section form {
    padding: 48px calc(170 / 800 * 100%);
  }
}

@media (max-width: 835px) {
  /* section  */
  section {
    padding: 64px calc(145 / 835 * 100%);
  }
  section form {
    padding: 48px calc(45 / 754 * 100%);
  }
}
