.container {
  width: min(100%, 1440px);
  margin: auto;
}
/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e0230;
  padding: 34px 72px;
}
header form {
  border-radius: 8px;
  display: flex;
  height: 48px;
  width: 560px;
  border: 1px solid rgba(176, 82, 181, 0.79);
}
header form:hover {
  box-shadow: 0px -2px 5px 0px #f1acee;
}
header input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding-left: 16px;
}
.searchButtonResp,
.logResponsive {
  display: none;
}
.login a {
  color: #fff;
}

header form button {
  border-radius: 0px 8px 8px 0px;
  background: #b052b5;
  border: none;
  width: 48px;
  height: 48px;
}
header div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.login {
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #f30aea;
  font-family: "Poppins", sans-serif;
}
.login:hover {
  color: #f30aea;
  transition: 1s linear;
  box-shadow: 0px 2px 5px 0px #c513bc;
}
header div button:last-child {
  padding: 13px;
  border-radius: 8px;
  background: #f30aea;
  border: none;
}
header i {
  font-size: 16px;
  color: #ffffff;
}
/* section  */
section {
  background-image: url(../images/cover\ image.png);
  padding: 64px calc(288 / 1440 * 100%);
}
section form {
  padding: 48px calc(200 / 864 * 100%);
  height: 770px;
  border-radius: 20px;
  background: rgba(28, 19, 37, 0.8);
  backdrop-filter: blur(5px);
}
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
h2 {
  color: #fff;
  text-shadow: 2px 4px 4px rgba(249, 12, 239, 0.71);
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-family: "Poppins", sans-serif;
}
h2:hover {
  text-shadow: none;
}
section form input {
  background-color: transparent;
  padding-left: 22px;
}
.name_email_first_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 48px;
}
.name_email_first_cont input {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  outline: none;
}
section label {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Poppins", sans-serif;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}
.white_label {
  color: #ffffff;
}
.border_style_hot_pink {
  border: 2px solid #f30aea;
}
.second_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quest_check {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
input[type="radio"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}
.quest_check input:checked::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #f30aeab5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.question_cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.question_cont label {
  color: #b052b5;
}
.text_Area_3_cont {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
textarea {
  height: 112px;
  border-radius: 8px;
  padding-left: 22px;
  padding-top: 11px;
  resize: none;
  background: transparent;
  border: 1px solid #b052b5;
  outline: none;
}

.lastlabeldiv {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
#checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid #f30aea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}
#checkbox:checked::before {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
  color: #f30aea;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.send {
  height: 64px;
  padding-block: 19px;
  width: 100%;
  border-radius: 16px;
  background: #f30aea;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
.send:hover {
  box-shadow: 2px -3px 5px 0 rgb(233, 117, 136);
  text-shadow: 2px -2px 2px #6d0743;
  color: rgb(253, 227, 245);
  font-size: 17px;
}
